.snakemake/
.DS_Store

data/*
!data/*/


data/HIV-LTE_scripts_for_paper/*
data/freezed-raw-data/*


data/processed-data/mutations
data/processed-data/fastqc-reports
data/processed-data/coverage-assessment


data/processed-data/consensus/pipeline-outputs/full/iii
data/processed-data/consensus/pipeline-outputs/full/iv

data/processed-data/consensus/pipeline-outputs/gag/iii
data/processed-data/consensus/pipeline-outputs/gag/iv

src/snakemake-run/.snakemake/
results/tables/3-p/all_variants.ann.vcf
results/tables/2-p/all_variants.ann.vcf
results/tables/2-p/all_annotated_variants.tsv

src/r-processing-scripts/phylogenetics/manuals/


# src/analysis/mut-sig/MutationalPatterns/
# src/analysis/neutral-sim/**/samples/

src/analysis/misc/

results/tables/misc/neutral-seq-sim/populations/
