.DS_Store

data/*
!data/reference

!data/metadata
!data/incoming-raw-data


!data/processed-data/
data/processed-data/*
!data/processed-data/quality_control/
data/processed-data/quality_control/*
!data/processed-data/quality_control/3-p/
data/processed-data/quality_control/3-p/*
!data/processed-data/quality_control/3-p/all_quals.tsv.gz

!data/processed-data/quality_control/2-p/
data/processed-data/quality_control/2-p/*
!data/processed-data/quality_control/2-p/all_quals.tsv.gz

src/snakemake-run/.snakemake/
results/tables/3-p/all_variants.ann.vcf
results/tables/2-p/all_variants.ann.vcf
results/tables/2-p/all_annotated_variants.tsv

src/r-processing-scripts/phylogenetics/manuals/

