.DS_Store

data/*
!data/reference

!data/metadata

!data/processed-data/
data/processed-data/*
!data/processed-data/quality_control/
data/processed-data/quality_control/*
!data/processed-data/quality_control/3-p/
data/processed-data/quality_control/3-p/*
!data/processed-data/quality_control/3-p/all_quals.tsv.gz


src/snakemake-run/.snakemake/
results/tables/3-p/all_variants.ann.vcf
